<div class="col-md-4 mb-4">
    <div class="card h-100 shadow-sm">
        <div class="card-header">
            <h5 class="my-0">{{ product.name }}</h5>
        </div>
        <div class="card-body">
            <a href="{% url 'catalog:product_detail' product.id %}">
                <img src="{{ product.image.url }}" alt="{{ product.name }}" class="card-img-top">
            </a>
            <h6 class="card-title">€ {{ product.price }}</h6>
            <p class="text-muted">{{ product.description|truncatechars:100 }}</p>
            <div class="d-flex {% if user == product.owner %}justify-content-between{% else %}justify-content-center{% endif %}">
                <button class="btn btn-outline-success w-50 {% if user == product.owner %}me-4{% endif %}">Add to cart</button>
                {% if user == product.owner %}
                    <a href="{% url 'catalog:product_update' product.id %}" class="btn btn-outline-primary w-50">Edit</a>
                {% endif %}
            </div>
        </div>
    </div>
</div>
