{% extends 'base.html' %}

<head>
    <title>{% block title %}Catalog{% endblock %}</title>
    <style>
        .card-img-top {
            width: auto;          /* Ширина остается как есть */
            height: 300px;        /* Ограничиваем высоту изображения */
            object-fit: cover;    /* Изображение будет заполнять контейнер, сохраняя пропорции */
        }
    </style>
</head>
<body>

    {% block content %}
    <div class="container">
        <div class="row text-center">
            {% for product in products %}
            <div class="col-4">
                <div class="card mb-4 box-shadow">
                    <div class="card-header">
                        <h4 class="my-0 font-weight-normal">{{ product.name }}</h4>
                    </div>
                    <div class="card-body">
                        <a href="{% url 'catalog:product_info' product.id %}">
                            <img src="{{ product.image.url }} " alt="product image" class="card-img-top">
                        </a>
                        <h1 class="card-title pricing-card-title">€ {{ product.price }}</h1>
                        <ul class="list-unstyled mt-3 mb-4 text-start m-3">
                            <li><strong>Category:</strong> {{ product.category }}</li>
                            <li><strong>Description:</strong> {{ product.description|truncatechars:100 }}</li>
                        </ul>
                        <button type="button" class="btn btn-lg btn-block btn-outline-primary">Add to kart</button>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
     </div>
    {% endblock %}

</body>
