{% extends 'catalog/base.html' %}

<head>
    <title>{% block title %}Category Info{% endblock %}</title>
</head>

<body>

{% block content %}
<div class="container mt-3">
    <!-- Вопрос об удалении -->
    <div class="text-center mb-4">
        <h4>Are you sure you want to delete category "{{ object.name }}"?</h4>
    </div>

    <!-- Кнопки Удалить / Отмена -->
    <div class="d-flex justify-content-center mb-5 gap-3">
        <form method="post">
            {% csrf_token %}
            <button type="submit" class="btn btn-outline-danger me-2">Delete</button>
        </form>
            <a href="{% url 'catalog:category_list' %}" class="btn btn-outline-secondary">Cancel</a>
    </div>

    <!-- Карточки продуктов этой категории -->
    <div class="row text-center">
        {% for product in object.products.all %}
            {% include 'catalog/includes/product_card.html' %}
        {% empty %}
            <p class="text-center text-muted">No products in this category.</p>
        {% endfor %}
    </div>
</div>
{% endblock %}