<footer class="pt-4 my-md-5 pt-md-5 border-top">
    <div class="row">
        <div class="col-12 col-md">
            All you need for office
            <small class="d-block mb-3 text-muted">&copy; 2025</small>
        </div>
        <div class="col-6 col-md">
            <h5>
                <a href="{% url 'catalog:category_list' %}" class="text-decoration-none text-dark">
                    Categories
                </a>
            </h5>
            <ul class="list-unstyled text-small">
                {% for category in categories %}
                    <li><a class="text-muted" href="{% url 'catalog:products_by_category' category.pk %}">{{ category.name }}</a></li>
                {% empty %}
                    <li><a class="text-muted" href="#">No categories</a></li>
                {% endfor %}
            </ul>
        </div>
        <div class="col-6 col-md">
            <h5>Extra</h5>
            <ul class="list-unstyled text-small">
                <li><a class="text-muted" href="#">We communicate</a></li>
            </ul>
        </div>
        <div class="col-6 col-md">
            <h5>About us</h5>
            <ul class="list-unstyled text-small">
                <li><a class="text-muted" href="/contacts/">Contacts</a></li>
            </ul>
        </div>
    </div>
</footer>